@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/css2?family=Ubuntu&display=swap';
html {
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: #F9AA33;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container {
  box-sizing: border-box;
  height: 85%;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (orientation: landscape) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

.container .left {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
@media (orientation: landscape) {
  .container .left {
    width: 50%;
  }
}

.digital-display {
  box-sizing: border-box;
  width: 100%;
  font-size: 12vw;
  text-align: center;
  text-shadow: 0px 0px 5px white;
  padding: 10vh 0;
  background-color: #232F34;
  border-radius: 1vmax;
  -moz-box-shadow: inset 0 0 20px #000000;
  -webkit-box-shadow: inset 0 0 20px #000000;
  box-shadow: inset 0 0 20px #000000;
  color: white;
}
@media (orientation: landscape) {
  .digital-display {
    font-size: 5vw;
  }
}

.buttons {
  box-sizing: border-box;
  margin: 5vh 0;
  border-radius: 1vmax;
  box-shadow: 0 28px 10px -23px rgba(32, 33, 36, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.buttons button {
  box-sizing: border-box;
  width: 100%;
  font-size: 5vmax;
  color: white;
  padding: 4vmax;
  border: none;
  background-color: #232F34;
  transition: 0.5s;
}
.buttons button:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.buttons button:hover {
  cursor: pointer;
}
.buttons button:active {
  transition: 0.1s;
}
.buttons #left {
  border-radius: 1vmax 0 0 1vmax;
  box-shadow: -1vmax 5px 15px 2px rgba(32, 33, 36, 0.5);
}
.buttons #left:active {
  box-shadow: 0 0 5px 0 rgba(32, 33, 36, 0.5);
}
.buttons #right {
  border-radius: 0 1vmax 1vmax 0;
  box-shadow: 1vmax 5px 15px 2px rgba(32, 33, 36, 0.5);
}
.buttons #right:active {
  box-shadow: 0 0 5px 0 rgba(32, 33, 36, 0.5);
}

.laps {
  box-sizing: border-box;
  height: 20vw;
  width: 100%;
  background-color: #232F34;
  -moz-box-shadow: inset 0 0 20px #000000;
  -webkit-box-shadow: inset 0 0 20px #000000;
  box-shadow: inset 0 0 20px #000000;
  border-radius: 1vmax;
  padding: 3vh 2vw;
  flex-grow: 2;
  transition: 0.6s;
}
@media (orientation: landscape) {
  .laps {
    width: 44%;
  }
}
.laps .list {
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.laps .list .lap {
  width: 70%;
  color: white;
  font-size: 7vw;
  text-align: center;
  padding-bottom: 2vmin;
  margin-top: 2vmin;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
@media (orientation: landscape) {
  .laps .list .lap {
    width: 88%;
    font-size: 3vw;
  }
}
.laps .list .lap span {
  font-size: 3vw;
  font-family: "Ubuntu", sans-serif;
}
@media (orientation: portrait) {
  .laps .list .lap span {
    font-size: 6vw;
  }
}

.hidden {
  height: 0;
  width: 0;
  padding: 0;
  flex-grow: 0;
}

::-webkit-scrollbar {
  display: none;
}