<!DOCTYPE html>
html(lang="en")
  
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title GOT
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap")
  
  body
    .head
      h4 #
      h1 Castles of Westros

    .castles-container
      //- .castle
      //-   h2
      //-   img
      //-   p

  script(src="script.js")