<!DOCTYPE html>
html(lang="en")
  
  head
    title Castles
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author" content="Abhigyan Prakash @mount_ap")
    meta(name="description" content="Castles Of Westros | Game of Thrones")
    meta(name="theme-color" content="#eeeeee")
    link(rel="stylesheet", href="style.css")
    link(rel="shortcut icon", href="images/game-of-thrones.png", type="image/png")

  body
    .cover
      h3 #
      .title
        h1
          | Castles 
          br
          | of Westros
        p North to South
      img(id="scroll-down" src="images/scroll-down.png", alt="Scroll Down")

    .castles-container
      //- .castle
      //-   h2
      //-   img
      //-   p

  script(src="script.js")