@import 'https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'

@font-face
  font-family: Trajan Pro
  src: url('fonts/Trajan Pro.ttf') format('truetype')

@font-face
  font-family: Game of Thrones
  src: url('fonts/Game of Thrones.ttf') format('truetype')

html
  height: 100%

body
  height: 100%
  margin: 40px auto
  max-width: 650px
  line-height: 1.6
  font-size: 18px
  font-family: 'Ubuntu', sans-serif
  color: #444
  background-color: #eeeeee
  padding: 0 10px

.cover
  position: relative
  height: calc(100% -  80px)
  h3
    font-family: 'Game of Thrones'
    text-align: center
    width: 100%
  .title
    position: absolute
    width: 100%
    top: 30%
    h1
      text-align: center
      line-height: 2
      font-family: 'Game of Thrones'
    p
      text-align: center
  img
    position: absolute
    width: 5vmax
    height: 5vmax
    left: calc( 50% - 2.5vmax )
    bottom: 2%
    &:hover
      cursor: pointer
    @media (min-aspect-ratio: 11/8) and (max-height: 500px)
      left: 90%    

.castles-container
  margin-top: 40px
  border-top: 1px solid #eeeeee

.castle
  h2
    line-height: 1.2
    font-family: 'Trajan Pro'
  img
    width: 100%
    border-radius: 5px
