html,
body {
  margin: 0;
}
body {
  height: 100%;
  background: linear-gradient(#87ceeb 70%, white 80%);
  background-image: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.matter-world {
  margin: 0;
  overflow: hidden;
}

.spin-toggle {
  width: 40px;
  max-width: 10vw;
  position: absolute;
  left: 14px;
  bottom: 15px;
}

.spinning {
  animation: spin 5s linear 0s infinite;
}

.lock {
  position: absolute;
  right: 14px;
  bottom: 15px;
  max-width: 5vmax;
  max-height: 6vmax;
}

.speed-slider {
  position: absolute;
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 15px;
  max-width: 4vw;
  max-height: 15vh;
  padding: 0;
  bottom: 53px;
  left: 25px;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
