html,
body {
  margin: 0;
}
body {
  height: 100%;
  background: linear-gradient(#87ceeb 70%, white 80%);
  background-image: url("/images/bg1.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.matter-world {
  margin: 0;
  overflow: hidden;
}

.spin-toggle {
  max-width: 5vmax;
  position: absolute;
  right: 1.5vw;
  bottom: 1.4vw;
  zoom: 0.8;
}

.spinning {
  animation: spin 5s linear 0s infinite;
}

.lock {
  position: absolute;
  left: 1vw;
  bottom: 1vw;
  max-width: 5vmax;
  max-height: 6vmax;
  zoom: 0.9;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
