@import url("https://fonts.googleapis.com/css2?family=Vesper+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: "Vesper Libre";
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  z-index: 1;
  position: fixed;
  top: -8vh;
  width: 100%;
  height: 8vh;
  transition: 0.3s;
  background-color: #1a1c64;
  display: flex;
  justify-content: center;
}
.navbar .small-logo {
  height: 10vh;
  opacity: 0;
  transition: 0.3s;
}

.shadow {
  box-shadow: 0 5px 10px 0 #00000063;
}

.container::-webkit-scrollbar {
  display: none;
}

.container {
  background-color: #f7f1e3;
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  touch-action: pan-y;
  scroll-behavior: smooth;
}
.container .logo-container {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 31vh;
  margin-top: 2vh;
}
.container .logo-container .logo {
  display: block;
  max-width: 350px;
  height: 22vh;
  margin: 2vh 0;
  font-size: 13vh;
}
.container .items {
  flex-shrink: 0;
  max-width: 650px;
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .items .item {
  width: 100%;
  margin-bottom: 4vmin;
  display: grid;
  grid-template-columns: 56% 44%;
  grid-template-rows: 100%;
}
.container .items .item #img1, .container .items .item #img2, .container .items .item #img3, .container .items .item #txt1, .container .items .item #txt2, .container .items .item #txt3 {
  place-self: center;
}
.container .items .item #txt1, .container .items .item #txt2, .container .items .item #txt3 {
  padding: 5px;
}
.container .items .item img {
  border-radius: 10px;
  max-width: 100%;
}
.container .items .item h3 {
  text-align: center;
  padding: 10px;
  font-size: 30px;
  color: #1a1c64;
  line-height: 1.15;
}
.container .items .item p {
  line-height: 22pt;
  max-width: 250px;
  font-size: 18px;
  padding: 10px;
}
.container .items .item #img1 {
  max-height: 300px;
}
.container .items .item #txt1 {
  align-self: start;
}
.container .items .item #txt1 h3 {
  font-family: "Cabin";
  padding: 8px;
  font-weight: 900;
  font-size: 28px;
  text-align: left;
}
.container .items .item #txt1 h3 span {
  color: red;
}
.container .items .item #img2 {
  border-radius: 10px;
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}
.container .items .item #txt2 {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
}
.container .items .item #img3 {
  border-radius: 10px;
}
.container hr {
  margin-top: 5vh;
  width: 100%;
}
.container #info {
  margin: 10vh 10vw 55.5vh 10vw;
}
.container #info h3 {
  color: #1a1c64;
}
.container #info p {
  margin-top: 2vh;
}
.container #info p strong {
  font-size: 20px;
}
.container .item, .container #info {
  padding: 3vh 3vw;
  background-color: #ffffff8f;
  backdrop-filter: blur(10px);
  border-radius: 10px;
}