html,
body {
  margin: 0;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: -4px;
  right: 5px;

  color: transparent;
  text-shadow: 0 0 4px white;
}

.balls-left {
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
  width: fit-content;
  top: 25px;
  right: 1vw;
}

.help {
  position: absolute;
  bottom: 0vh;
  width: fit-content;
  left: 0;
  right: 0;
  margin: auto;
  padding: 5px 10px 5px 10px;
  border-radius: 5px 5px 0 0;
  color: black;
  background-color: rgba(245,255, 255, 0.4);
}
