| <css-doodle id="doodle">
|   :doodle {
|     @grid: 100vmax;
|     size: 1px;
|     overflow: hidden;
|     transform: translate(-100%, -100%);
|     border-radius: 50%;
|     filter: url(#filter);
|     box-shadow: @m100(
|       @r(150vw) @r(150vh) @r(10vmin, 40vmin) @r(20vmin)
|       @pd(#FFF, #87ceeb, #FFF, #87ceeb)
|     );
|   }
| </css-doodle>
| <svg>
|   <filter id="filter">
|     <feTurbulence type="fractalNoise"
|       baseFrequency=".01" numOctaves="100" />
|     <feDisplacementMap
|       in="SourceGraphic" scale="240" />
|   </filter>
| </svg>
