<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title SRK 🍜
        link(rel="stylesheet", href="style.css")
        //- script(src="css-doodle.min.js")
        script(src="script.dev.js", defer)
    body
        .navbar
        .container
            .logo-container
                .anchor
                .logo SRK
            .products
            .info
        //- include cloudy-blue-sky.pug
