<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="author" content="Abhigyan Prakash <abgnpr@gmail.com>")
        meta(name="description" content="S.R.K Enterprises")
        meta(name="theme-color" content="#1a1c64")
        title SRK 🍜
        //- link(rel="icon" href="images/srk.svg" type="image/svg" sizes="16x16")
        link(rel="stylesheet", href="style.css")
        script(src="script.dev.js", defer)
    body
        .navbar
            img.small-logo(src="images/srk.svg")
        .container
            .logo-container
                img.logo(src="images/srk.svg") 
            .items
                .item
                    #txt1
                        h3 <strong>M<span>O</span>TI SE<span>W</span>AI</strong>
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, reiciendis!
                    img#img1(src="images/packet.jpg", alt="Sewai Packet")
                .item
                    #txt2
                        h3 It's easy to cook!
                    img#img2(src="images/sewai.jpeg", alt="Sewai Raw")
                .item
                    #txt3
                        h3 and fun to eat!
                    img#img3(src="images/cooked.jpg", alt="Cooked Cowmein")
                hr
                #info
                    h3 Marketed and manufactured by
                    p
                        strong S.R.K. Enterprises 
                        <br> Danapur Cantt, Patna (Bihar) <br> Phone: 8210637171, 9097414642